.equipment{
  display: flex;
}
.equipment .equipment-wrap{
  flex: 6;
}
.equipment .equipment-wrap .equipment-content h1{
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  margin: 10px 800px 0px 50px;
  border-radius: 10px;
  font-size: 32px;
}
.equipment .equipment-wrap .equipment-content .row.button{
  margin: 20px 0px 0px 35px;
}
.equipment .equipment-wrap .equipment-content .row.button a.add-new{
  margin: 0px 10px 0px 0px;
  text-decoration: none;
  border: 1px solid;
}
.equipment .equipment-wrap .equipment-content .row.result{
  margin: 0px 10px 0px 20px;
}



@media (max-width: 375px) {
  .equipment .equipment-wrap{
    flex: none;
  }
}